* {
	margin: 0;
	padding: 0;
	font-family: "Josefin Sans", sans-serif;
}
textarea:focus,
input:focus {
	outline: none;
}
body {
	background-image: url(./assets/images/bg-desktop-light.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-dark {
	background-image: url(./assets/images/bg-desktop-dark.jpg);
}
main {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	padding: 5.3125rem 26.5625rem;
}
/* title section */
.title-section {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.title-section h1 {
	font-weight: 700;
	font-size: 32px;
	letter-spacing: 10px;
	text-transform: uppercase;
	color: hsl(0, 0%, 98%);
}
.title-section img {
	height: 1.5625rem;
}
/* create-task-section */

.create-task-section {
	padding-top: 1.5625rem;
	width: 100%;
}
.create-task-container {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	padding: 15px;
	background-color: hsl(0, 0%, 98%);
	width: 100%;
	border-radius: 0.3125rem;
	transition: box-shadow 0.5s;
	box-shadow: 0px 5px 30px -10px hsl(236, 9%, 61%);
}
.create-task-container:focus-within {
	box-shadow: 0px 5px 30px -10px hsl(235, 19%, 35%);
}
.create-task-circle {
	order: 1;
	width: 20px;
	height: 20px;
	border: 1px solid hsl(236, 9%, 61%);
	border-radius: 50%;
	margin-right: 15px;
}
.create-task-input {
	order: 2;
	width: 100%;
	border: 0;
	font-size: 1.125rem;
	color: hsl(235, 19%, 35%);
	background-color: hsl(0, 0%, 98%);
}
.create-task-input:focus + .create-task-circle {
	border-radius: 10px;
	border: double 1px transparent;
	background-image: linear-gradient(white, white),
		linear-gradient(45deg, #57ddff, #c058f3);
	background-origin: border-box;
	background-clip: content-box, border-box;
}
.create-task-input:focus input::placeholder {
	font-size: 1.125rem;
	color: hsl(236, 9%, 61%);
}
/* Task List Section */
.task-list-section {
	width: 100%;
	display: flex;
	background-color: hsl(0, 0%, 98%);
	color: hsl(235, 19%, 35%);
	font-size: 18px;
}

/* Task Component*/
.task-component {
	padding: 10px;
	display: flex;
	position: relative;
}
.task-checkbox {
	position: absolute;
	top: 10;
	left: 10;
	z-index: 2;
	width: 20px;
	width: 20px;
}
/* TaskComponent - checkbox */
.task-component {
	padding-left: 20px;
}
[type="checkbox"] {
	opacity: 0;
}
[type="checkbox"] + .task-text {
	position: relative;
	order: 2;
	padding-left: 1.875rem;
	cursor: pointer;
	display: inline-block;
	line-height: 1.5625rem;
}
[type="checkbox"] + .task-text::before {
	content: "";
	position: absolute;
	left: -0.5rem;
	top: 0;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	outline: 1px solid hsl(236, 9%, 61%);
}
[type="checkbox"]:checked + .task-text::before {
	content: "";
	position: absolute;
	left: -0.5rem;
	top: 0;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	outline: 0px;
	background: linear-gradient(15deg, #57ddff, #c058f3);
}
[type="checkbox"]:checked + .task-text::after {
	content: url("/public/images/icon-check.svg");
	position: absolute;
	top: -0.0625rem;
	left: -0.4375rem;
	width: 0.9375rem;
	height: 0.9375rem;
}

[type="checkbox"]:checked + .task-text {
	color: hsl(236, 9%, 61%);
	text-decoration: line-through;
}

/* Media */
@media screen and (max-width: 375px) {
	body {
		background-image: url("./assets/images/bg-mobile-light.jpg");
		background-repeat: no-repeat;
	}
	.bg-dark {
		background-image: url(./assets/images/bg-mobile-dark.jpg);
	}
}
